.title {
    position: absolute;
    top: 30%;
    left: 15%;
    text-transform: uppercase;
    font-size: 1.5em;
}

.header-1 {
    position: absolute;
    top: 35%;
    left: 15%;
    text-transform: uppercase;
    font-size: 4em;

    /* Create the gradient. */
    background-image: linear-gradient(
        45deg,
        #000000 10%,
        #ca4246 16.666%,
        #e16541 16.666%,
        #e16541 33.333%,
        #f18f43 33.333%,
        #f18f43 50%,
        #8b9862 50%,
        #8b9862 66.666%,
        #476098 66.666%,
        #476098 83.333%,
        #a7489b 83.333%
    );

    /* Set the background size and repeat properties. */
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;

    -webkit-animation: rainbow-text-simple-animation-rev 7s ease alternate-reverse infinite;
    animation: rainbow-text-simple-animation-rev 7s ease alternate-reverse infinite;
}

/* ----------------------Animation ends ------------------------*/
.header-2 {
    position: absolute;
    top: 45%;
    left: 45%;
    text-transform: uppercase;
    font-size: 4em;

    /* Create the gradient. */
    background-image: linear-gradient(
        45deg,
        #000000 10%,
        #ca4246 16.666%,
        #e16541 16.666%,
        #e16541 33.333%,
        #f18f43 33.333%,
        #f18f43 50%,
        #8b9862 50%,
        #8b9862 66.666%,
        #476098 66.666%,
        #476098 83.333%,
        #a7489b 83.333%
    );

    /* Set the background size and repeat properties. */
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;

    -webkit-animation: rainbow-text-simple-animation-rev 7s ease alternate-reverse infinite;
    animation: rainbow-text-simple-animation-rev 7s ease alternate-reverse infinite;
}

@keyframes rainbow-text-simple-animation-rev {
    0% {
        background-size: 650%;
    }
    40% {
        background-size: 650%;
    }
    100% {
        background-size: 100%;
    }
}
/* ----------------------Animation ends ------------------------*/
.home-icons {
    display: flex;
    align-content: space-around;
    align-items: center;
    height: fit-content;
    position: absolute;
    bottom: 6%;
    right: 45%;
    left: 45%;
}
.home-icons img {
    width: 25px;
    height: 25px;
}

.subtitile {
    position: absolute;
    top: 65%;
    left: 15%;
    font-size: 1.5rem;
}
.more-btn {
    width: fit-content;
    position: absolute;
    top: 72%;
    left: 15%;
    background-color: #fe4747 !important;
    color: #ffffff !important;
}

.more-btn:hover {
    background-color: #ffffff !important;
    color: #fe4747 !important;
}

@media screen and (min-width: 1441px) {
    .title {
        font-size: 3em;
    }
    .header-1 {
        font-size: 8rem;
    }
    .header-2 {
        font-size: 8rem;
    }
}
.giticon-btn:hover {
    background: transparent !important;
}

/* ----------------------for mobile  ------------------------*/

.m-home-main {
    /* background-color: aqua;
    border: 1px solid green; */
    width: 70%;
    margin: auto;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.m-title {
    font-size: 1.2rem;
    text-transform: uppercase;
}
.m-header-1 {
    margin: 0px;
    margin-top: 3%;
    text-align: left;
    text-transform: uppercase;
    font-size: 2.7rem;

    /* Create the gradient. */
    background-image: linear-gradient(
        45deg,
        #000000 10.5%,
        #ca4246 16.666%,
        #e16541 16.666%,
        #e16541 33.333%,
        #f18f43 33.333%,
        #f18f43 50%,
        #8b9862 50%,
        #8b9862 66.666%,
        #476098 66.666%,
        #476098 83.333%,
        #a7489b 83.333%
    );

    /* Set the background size and repeat properties. */
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;

    animation: rainbow-text-simple-animation-rev 7s ease alternate-reverse infinite;
}

/* Move the background and make it smaller. */
/* Animation shown when entering the page and after the hover animation. */
@keyframes rainbow-text-simple-animation-rev {
    0% {
        background-size: 650%;
    }
    40% {
        background-size: 650%;
    }
    100% {
        background-size: 100%;
    }
}

.m-header-2 {
    margin: 0px;
    margin-top: 3%;
    text-align: left;
    text-transform: uppercase;
    font-size: 2.7rem;

    /* Create the gradient. */
    background-image: linear-gradient(
        45deg,
        #000000 10.5%,
        #ca4246 16.666%,
        #e16541 16.666%,
        #e16541 33.333%,
        #f18f43 33.333%,
        #f18f43 50%,
        #8b9862 50%,
        #8b9862 66.666%,
        #476098 66.666%,
        #476098 83.333%,
        #a7489b 83.333%
    );

    /* Set the background size and repeat properties. */
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;

    animation: rainbow-text-simple-animation-rev 7s ease alternate-reverse infinite;
}

.m-subtitile {
    font-size: 1.2rem;
}

.m-home-icons {
    margin-top: 50px;
    display: flex;
}

.gitIcon {
    font-size: 20px;
    color: #333;
    animation: float 6s ease-in-out infinite;
    animation-delay: 1s !important;
}
.dribbleIcon {
    font-size: 20px;
    color: #ea4c89;
    animation: float 6s ease-in-out infinite;
    animation-delay: 2s !important;
}

.behanceIcon {
    font-size: 20px;
    color: #053eff;
    animation: float 6s ease-in-out infinite;
    animation-delay: 3s !important ;
}
@keyframes float {
    0% {
        transform: translatey(0px);
    }
    50% {
        transform: translatey(-20px);
    }
    100% {
        transform: translatey(0px);
    }
}

.m-home-icons .MuiButton-text {
    margin: 0% !important;
    padding: 0% !important;
}

.m-more-btn {
    background-color: #fe4747 !important;
    color: #ffffff !important;
    text-transform: none !important;
}
.m-more-btn:hover {
    background-color: #ffffff !important;
    color: #fe4747 !important;
}
.m-home-icons a span {
    justify-content: flex-start;
}
