.project-nav,
.main-project-section,
.main-blog {
    display: flex;
    width: 85vw;
    gap: 2vw;
    margin: auto;
    margin-top: 2%;
}
.project-nav-btn {
    background-color: #ffe9e9 !important;
    font-weight: 500;
}

.main-project-section {
    gap: 1.3vw;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
}

.arrowicon2:hover {
    background-color: white !important;
    color: #ff0000 !important;
}

.arrowiconBtn2 {
    position: fixed;
    width: 5%;
    right: 2.5%;
    bottom: 40px;
    height: 5%;
    font-size: 2rem;
    z-index: 1;
    cursor: pointer;
}
.arrowicon2 {
    border-radius: 50%;
    font-size: 1.3em !important;
}
.project-section {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 16%);
}

.main-card {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1vw;
}

.card-img {
    width: 100%;
    height: 150px;
    border-radius: 10px 10px 0px 0px;
    text-align: center;
}

@media screen and (min-width: 1500px) {
    .project-section {
        width: 15vw;
    }
    .card-img {
        height: 100%;
    }
}
@media screen and (min-width: 2000px) {
    .project-section {
        width: 20vw;
    }
    .card-img {
        height: 100%;
    }
}

.card-img-inner {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: inherit;
}
.card-title {
    text-transform: capitalize;
    font-size: 0.9vw;
    font-weight: 600;
    padding-left: 1vw;
}
.card-subtitle {
    text-transform: capitalize;
    font-size: 0.8vw;
    padding-left: 1vw;
}
.card-footer {
    display: flex;
    justify-content: space-evenly;
    /* margin: auto; */
    align-items: center;
}
.main-blog {
    justify-content: space-evenly;
    flex-direction: column;
}
.main-blog-header,
.main-blog-follow-section {
    font-size: 1.5vw !important;
    font-weight: bold !important;
    width: fit-content;
}

.main-blog-card {
    width: 100%;
    display: flex;
    background-color: #ffffff;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 16%);
    border-radius: 1%;
}

.card-blog-img {
    width: 50%;
    display: flex;
}
.blog-img {
    width: 100%;
    height: inherit;
    object-fit: cover;
    border-radius: 1% 10% 10% 1%;
}
.card-blog-content {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.blog-content-main,
.blog-content-fotter {
    /* margin: 1.5vw; */
    padding: 1.5vw;
}
.blog-content-main {
    height: 60%;
}
.blog-content-fotter {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.blog-content-title {
    width: 60%;
    font-size: 1vw;
    font-style: normal;
    font-family: system-ui;
    font-weight: 500 !important;
    font-weight: 600;
    letter-spacing: 0.5px;
}

.blog-content-overview {
    font-size: 1.05vw;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.readmore-btn,
.arrowicon2 {
    background-color: #ff0000 !important;
    color: white !important;
}
.readmore-btn:hover {
    background-color: white !important;
    color: #ff0000 !important;
}
.blog-fotter-date {
    font-size: 0.8vw;
}
.blog-follow-subtitle {
    font-size: 1vw;
    font-weight: 500;
}
.blog-follow-icons {
    display: flex;
    width: 25%;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10vh;
}

.blog-content-overview figure,
blockquote,
ol {
    display: none;
}
.blog-content-overview h3,
strong,
em {
    font-weight: 400;
    font-size: 1.05vw;
    font-style: normal;
}

.loadshot-text {
    font-size: 0.7vw !important;
    text-align: center;
    text-transform: uppercase;
}
.shots-icon {
    width: 1.5vw;
    height: 1.5vw;
    margin: 1.5vw;
    color: #ebe9e9;
    padding: 0.5vw;
}
.shots-icon:hover {
    cursor: pointer;
}
.shots-icon:hover {
    color: #fe1ec2;
    background-color: #ffdada;
    border-radius: 50%;
    box-shadow: 1px 1px 13px #ff00002c;
}

/* for mobile 600px max width  */

@media only screen and (max-width: 600px) {
    .blog-header,
    .blog-follow-title {
        font-size: 5vw !important;
        font-weight: bold !important;
    }

    .main-card {
        width: 150px;
    }
    .card-img {
        height: 115px;
    }
    .arrowiconBtn2 {
        right: 10%;
    }
    .card-title,
    .card-subtitle,
    .loadshot-text,
    .blog-follow-subtitle {
        font-size: 0.5rem !important;
    }
    .card-footer {
        margin-top: 2px;
        margin-bottom: 5px;
        justify-content: space-around;
    }
    .shots-icon {
        width: 6vw;
        height: 6vw;
    }
    .blog-img {
        object-fit: contain;
    }
    .blog-content-fotter a {
        font-size: 1.8vw !important;
    }
    .blog-content-title,
    .blog-content-overview *,
    .blog-fotter-date {
        font-size: 2.5vw !important;
    }
    .blog-content-title {
        width: 100%;
    }
    .blog-content-fotter {
        align-items: center;
    }
    .blog-follow-icons * {
        font-size: 7vw !important;
    }
}
/* for mobile 600px max width  style ends here   */

/* for mobile 330px max width  */

@media only screen and (max-width: 330px) {
    .main-card {
        width: 132px;
        height: 180px;
        gap: 2.5px;
    }
    .readmore-btn {
        width: -moz-fit-content;
        width: min-content;
        padding: 1% !important;
        margin: 1% !important;
        text-transform: capitalize !important;
        border-radius: 2px !important;
    }
}
