.main-about,
.main-tech,
.main-resume,
.main-hobbies,
.main-contact-form {
  height: auto;
  width: 95vw;
  margin: auto;
  display: flex;
  margin-top: 5%;

  display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox; /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Chrome */
}

.img-box {
  width: 47vw;
  height: 45vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  clip-path: circle(50%);
}

.img-box img {
  object-fit: cover;
  border-radius: 50%;
  mix-blend-mode: hard-light;
  box-shadow: 3px 3px 6px #00000040;
}
.content-box {
  width: 55%;
  height: inherit;
  display: flex;
  flex-direction: column;
}

.main-about-title-intro {
  width: 100%;
}
.about-title {
  font-size: 1.5vw !important;
  font-weight: bold !important;
  width: 80%;
  padding: 1%;
}

.about-intro {
  width: 95%;
  padding: 1%;
  text-align: justify;
  font-size: 1.1em !important;
}

.arrowIcon {
  background-color: #ff0000 !important;
  color: white !important;
}

.arrowIcon:hover {
  background-color: white !important;
  color: #ff0000 !important;
}

.arrowIcon-btn {
  position: fixed;
  width: 5%;
  right: 2.5%;
  bottom: 40px;
  height: 5%;
  font-size: 2rem;
  z-index: 1;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .arrowIcon-btn {
    right: 10%;
  }
}
.arrowIcon {
  border-radius: 50%;
  font-size: 1.3em !important;
}
.main-tech,
.main-resume,
.main-hobbies,
.main-contact-form {
  flex-direction: column;
  justify-content: space-evenly;
}
.main-tech-header,
.main-resume-header,
.main-hobbies-header,
.main-contact-form-header {
  width: fit-content;
}
.tech-header,
.resume-header,
.hobbies-header,
.contact-form-header {
  font-size: 1.5vw !important;
  font-weight: bold !important;
}

.tech-overviewText,
.resume-overviewText {
  font-size: 1.2em;
}

.tech-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 4.5em 4.5em 4.5em;
  justify-items: stretch;
  align-items: center;
}

.tech-list-icons {
  display: grid;
  grid-template-columns: 70px 1fr;
  align-items: center;
  margin: 0.1vw;
  padding: 0.2vw;
}

.tech-list-icons img {
  object-fit: cover;
  width: 40px;
  height: 40px;
}

.tech-list-1 {
  margin: 2vh;
  padding: 1vh;
}

.tech-list-1 p {
  font-size: 1vw;
  font-weight: bold;
}

.main-resume {
  height: fit-content;
}
#resume-details-main {
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
  justify-content: center;
  width: inherit;
  box-sizing: border-box;
  padding: 1em 2em;
  overflow: hidden;
}
.resume-content {
  width: 30em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.outer-circle {
  width: 5em;
  height: 5em;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: rgb(226, 226, 226);
}

.resume-icons {
  width: 4em;
  height: 4em;
}
.resume-icons img {
  width: inherit;
  height: inherit;
  object-fit: cover;
  border-radius: 50%;
}
.hr-center {
  width: 30em;
  border: 1px solid #f4acb7;
  position: absolute;
  top: 14%;
  left: 50%;
  z-index: -1;
}

.vr-center {
  border: 1px dotted #14213d;
  border-radius: 2px;
  height: 2em;
}

.circle-dot {
  width: 1.5em;
  height: 1.5em;
  background: #000;
  border-radius: 50%;
  margin-bottom: 1.5em;
}

.text-content {
  margin-top: -0.5em;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 7em;
}

.resume-title {
  font-size: clamp(12px, 0.95em, 32px);
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  word-wrap: break-word;
  text-align: center;
  width: 90%;
  margin: auto;
}
.resume-year {
  font-size: clamp(12px, 0.95em, 32px);
  font-weight: 500;
  width: fit-content;
  padding-left: 0.25vw;
  padding-right: 0.25vw;
  text-align: center;
  margin-top: -1em;
  width: 90%;
  margin: auto;
}
.resume-location {
  font-size: clamp(12px, 0.9em, 28px);
  text-transform: capitalize;
}

.resume-content:last-of-type .hr-center {
  display: none;
}

.resume-content > p {
  color: gray;
  white-space: nowrap;
  font-style: normal;
}

.resume-content:nth-child(1) .circle-dot {
  background-color: rgb(251, 253, 128);
}
.resume-content:nth-child(1) .outer-circle {
  background-color: rgba(251, 253, 128, 0.5);
}

.resume-content:nth-child(1) .vr-center {
  border: 1px dotted rgb(251, 253, 128);
}

.resume-content:nth-child(2) .circle-dot {
  background-color: rgb(59, 174, 241);
}
.resume-content:nth-child(2) .outer-circle {
  background-color: rgb(59, 174, 241, 0.3);
}
.resume-content:nth-child(2) .vr-center {
  border: 1px dotted rgb(59, 174, 241);
}

.resume-content:nth-child(3) .circle-dot {
  background-color: rgb(188, 205, 252);
}
.resume-content:nth-child(3) .outer-circle {
  background-color: rgb(188, 205, 252, 0.4);
}
.resume-content:nth-child(3) .vr-center {
  border: 1px dotted rgb(188, 205, 252);
}

.resume-content:nth-child(4) .circle-dot {
  background-color: rgb(2, 52, 82);
}
.resume-content:nth-child(4) .outer-circle {
  background-color: rgb(2, 52, 82, 0.5);
}
.resume-content:nth-child(4) .vr-center {
  border: 1px dotted rgb(2, 52, 82);
}

.resume-content:nth-child(5) .circle-dot {
  background-color: rgb(206, 21, 8);
}
.resume-content:nth-child(5) .outer-circle {
  background-color: rgb(206, 21, 8, 0.3);
}
.resume-content:nth-child(5) .vr-center {
  border: 1px dotted rgb(206, 21, 8);
}

.resume-content:nth-child(6) .circle-dot {
  background-color: rgb(22, 209, 147);
}
.resume-content:nth-child(6) .outer-circle {
  background-color: rgb(22, 209, 147, 0.4);
}
.resume-content:nth-child(6) .vr-center {
  border: 1px dotted rgb(22, 209, 147);
}

.resume-content:nth-child(7) .circle-dot {
  background-color: rgb(13, 83, 139);
}
.resume-content:nth-child(7) .vr-center {
  border: 1px dotted rgb(13, 83, 139);
}
.resume-content:nth-child(8) .outer-circle {
  border: 1px dotted rgb(13, 83, 139, 0.4);
}

.resume-content:nth-of-type(3n + 3) .hr-center {
  display: none;
}

.main-hobbies-icons,
.main-contact-details {
  display: flex;
  justify-content: center;
}
.main-hobbies-icons {
  margin-top: 2em;
}

.car-icon {
  background: linear-gradient(#f00 0%, #ff1616 38.48%, #fe4747 100%);
  width: 150px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  border-radius: 5px;
  color: white;
}
.car-icon > svg {
  font-size: 2.1875rem !important;
}

.hobby-name {
  font-size: 1.1vw;
  font-weight: 500;
  text-transform: uppercase;
}

.main-contact-details {
  margin-top: 4%;
}
.contact-bg {
  width: 70vw;
  background-color: #ffffff;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 16%);
  border-radius: 20px;
  display: flex;
}

.main-contact-form {
  display: block !important;
}

.contact-form {
  width: 95% !important;
  margin: 2vw;
}

.connected-bg {
  width: auto;
  border-radius: 10px;
  margin: 2.7vw;
  background-color: rgb(91, 64, 64);
  padding: 5vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.send-btn {
  width: 100%;
  background-color: #fe4747 !important;
  color: #ffffff !important;
  box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
}
.send-btn:hover {
  background-color: #ffffff !important;
  color: #fe4747 !important;
}
.connected-bg .connected-details .connected-title {
  font-size: 4em;
  margin: 0;
}
.connected-title,
.connected-subtitle {
  color: #ffffff;
  font-size: 0.9em;
  font-weight: 500;
  letter-spacing: 1px;
  text-align: left;
}
.connected-subtitle {
  font-weight: normal;
  color: #c5c5c5;
}

.connected-icons {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.divider {
  width: inherit !important;
  background-color: #fe4747 !important;
  height: 3px !important;
}

@media only screen and (max-width: 2560px) and (min-width: 1500px) {
  .car-icon {
    width: 300px;
    height: 300px;
  }
  .car-icon > svg {
    font-size: 5.5rem !important;
  }
}

@media only screen and (max-width: 2560px) and (min-width: 1500px) {
  .resume-content {
    width: 45em;
  }
  .hr-center {
    width: 45em;
  }
}
@media only screen and (max-width: 2000px) and (min-width: 1400px) {
  .img-box {
    width: 40vw;
    height: 40vw;
  }
}
/* for large tablet  */
@media only screen and (max-width: 1000px) and (min-width: 700px) {
  .img-box {
    width: 50vw;
    height: 82%;
  }
  .car-icon {
    width: 100px;
    height: 100px;
  }
  .contact-bg {
    width: 90vw;
  }
}

@media only screen and (max-width: 1950px) and (min-width: 1500px) {
  .resume-content {
    width: 35em;
  }
  .hr-center {
    width: 35em;
  }
}

@media only screen and (max-width: 1366px) {
  .resume-content {
    width: 25em;
  }
  .hr-center {
    width: 25em;
  }
}

@media only screen and (max-width: 1024px) {
  #resume-details-main {
    padding: 0;
  }
  .resume-content {
    width: 17em;
  }
  .hr-center {
    width: 17em;
  }
}

@media only screen and (max-width: 769px) {
  .main-about {
    height: auto;
  }
  .img-box {
    width: 25em;
    height: 25em;
  }
  .about-title {
    font-size: 1.1em !important;
  }
  .about-intro {
    font-size: 0.8em !important;
  }

  .resume-content {
    width: 15em;
  }
  .hr-center {
    width: 15em;
  }
  .resume-content > p {
    white-space: initial;
    text-align: center;
  }
}

/* for mobile screen  */

@media only screen and (max-width: 600px) {
  .main-about {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
  }
  .img-box {
    content: "";
    width: 80vw;
    height: 80vw;
  }

  .img-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
  }
  .content-box {
    width: 100%;
  }
  .about-title {
    font-size: 6vw !important;
    width: 95%;
  }
  .about-intro {
    font-size: 1em !important;
  }

  .main-tech,
  .main-resume,
  .main-hobbies {
    flex-direction: column;
    justify-content: space-evenly;
    height: fit-content;
  }
  .tech-header,
  .resume-header,
  .hobbies-header,
  .contact-form-header {
    font-size: 5vw !important;
    font-weight: bold !important;
  }

  .tech-overviewText,
  .resume-overviewText {
    font-size: 1em !important;
  }

  .tech-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 3.5em 3.5em 3.5em 3.5em;
    justify-items: stretch;
    align-items: center;
  }
  .tech-list-icons {
    grid-template-columns: 30px 1fr;
  }
  .tech-list-icons img {
    width: 20px;
    height: 20px;
  }
  .tech-list-1 {
    margin: 0%;
    padding: 5%;
  }

  .tech-list-1 p {
    font-size: 0.9em;
    font-weight: bold;
  }

  .resume-details {
    flex-direction: column;
  }

  .main-hobbies {
    margin: auto;
    gap: 10px;
  }
  .main-hobbies-icons {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 2em;
  }
  .car-icon {
    width: 55px;
    height: 55px;
    margin: auto;
  }
  .car-icon > svg {
    font-size: 1rem !important;
  }
  .hobby-name {
    font-size: 0.4rem !important;
    font-weight: 500;
    text-transform: capitalize;
  }
  .main-contact-details {
    flex-direction: column;
    width: 100%;
    align-items: center;
  }
  /*only for safari browser  */
  @supports not (display: flex) {
    .main-contact-details {
      display: block;
    }
    .contact-bg {
      margin-top: 10px;
    }

    .main-hobbies-icons {
      margin-top: 10px;
    }
  }
  .contact-bg {
    width: 100%;
    height: auto;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    gap: 10px;
  }
  .contact-form,
  .connected-bg {
    width: 100%;
  }
  .connected-bg {
    align-items: center;
    margin: 0%;
    padding: 0%;
    border-radius: 2px;
  }

  .connected-icons {
    display: flex;
    margin: 10px 0px;
    padding: 0%;
    justify-content: space-evenly;
    align-items: center;
  }
  .MuiBox-root.contact-form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: auto;
  }
  .MuiFormControl-fullWidth {
    width: 98% !important;
    margin: 5px !important;
  }
  .MuiInputBase-inputMultiline {
    height: 50px !important;
  }
  .resume-content {
    width: 13em;
  }
  .hr-center {
    width: 13em;
  }

  .resume-content:nth-of-type(odd) div:first-child div:first-child {
    display: block;
  }

  .resume-content:nth-of-type(even) div:first-child div:first-child {
    display: none;
  }
  .resume-content:last-child div:first-child div:first-child {
    display: none;
  }
  .connected-details {
    padding: 1em;
  }
  .connected-bg .connected-details .connected-title {
    font-size: 3em;
  }
  .connected-icons img {
    width: 35px;
  }
}

@media only screen and (max-width: 380px) {
  .resume-content {
    width: 10em;
  }
  .hr-center {
    width: 10em;
  }
}
