.project-nav,
.main-project-section,
.main-blog {
  display: flex;
  width: 85vw;
  gap: 2vw;
  margin: auto;
  margin-top: 2%;
}
.project-nav-btn {
  background-color: #ffe9e9 !important;
  font-weight: 500;
}

.main-project-section {
  gap: 1.3vw;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}

.arrow-icon2:hover {
  background-color: white !important;
  color: #ff0000 !important;
}

.arrow-iconBtn2 {
  position: fixed;
  width: 5%;
  right: 2.5%;
  bottom: 40px;
  height: 5%;
  font-size: 2rem;
  z-index: 1;
  cursor: pointer;
}
.arrow-icon2 {
  border-radius: 50%;
  font-size: 1.3em !important;
}
.project-section {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 16%);
}

.main-card {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1vw;
}

.card-img {
  width: 100%;
  height: 150px;
  border-radius: 10px 10px 0px 0px;
  text-align: center;
}

@media screen and (min-width: 1500px) {
  .project-section {
    width: 15vw;
  }
  .card-img {
    height: 100%;
  }
}
@media screen and (min-width: 2000px) {
  .project-section {
    width: 20vw;
  }
  .card-img {
    height: 100%;
  }
}

.card-img-inner {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: inherit;
}
.card-title {
  text-transform: capitalize;
  font-size: 0.9vw;
  font-weight: 600;
  padding-left: 1vw;
}
.card-subtitle {
  text-transform: capitalize;
  font-size: 0.8vw;
  padding-left: 1vw;
}
.card-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 1px 13px #ff00002c;
}

.main-blog {
  justify-content: space-evenly;
  flex-direction: column;
}
.main-blog-header,
.main-blog-follow-section {
  font-size: 1.5vw !important;
  font-weight: bold !important;
  width: fit-content;
}

.main-blog-card {
  width: 45%;
  display: flex;
  background-color: #ffffff;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 16%);
  border-radius: 1%;
}

.cards {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  height: auto;
  flex-wrap: wrap;
  gap: 2em;
}

.main-blog-card:last-of-type {
  margin-right: auto;
}
.card-blog-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.blog-content-main,
.blog-content-footer {
  padding: 1.5vw;
}
.blog-content-main {
  height: 60%;
}
.blog-content-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.blog-content-title {
  width: 100%;
  font-size: 1vw;
  font-style: normal;
  font-weight: 600 !important;
  letter-spacing: 0.5px;
}

.blog-content-overview {
  font-size: 1.05vw;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;

  --max-lines: 6;
  position: relative;
  max-height: calc(2vw * var(--max-lines));
  padding-right: 0.5rem; /* space for ellipsis */
}
.blog-content-overview * {
  font-style: normal;
  font-weight: normal !important ;
}

.read-more-btn,
.arrow-icon2 {
  background-color: #ff0000 !important;
  color: white !important;
}
.read-more-btn:hover {
  background-color: white !important;
  color: #ff0000 !important;
}
.blog-footer-date {
  font-size: 0.8vw;
  font-weight: 700;
}
.blog-follow-subtitle {
  font-size: 1vw;
  font-weight: 500;
}
.blog-follow-icons {
  display: flex;
  width: 15%;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10vh;
}

.blog-content-overview figure,
blockquote,
ol {
  display: none;
}
.blog-content-overview h3,
strong,
em {
  font-weight: 400;
  font-size: 1.05vw;
  font-style: normal;
}

.loadshot-text {
  font-size: 0.7vw !important;
  text-align: center;
  text-transform: uppercase;
  color: #fe1ec2;
  display: flex;
  align-items: center;
}
.shots-icon {
  width: 1.5vw;
  height: 1.5vw;
  margin: 1.5vw;
  color: #fe1ec2;
}

.card-footer:hover {
  cursor: pointer;
  color: #fe1ec2;
  background-color: #ffdada;
  box-shadow: 1px 1px 13px #ff00002c;
}

/* tablet layout */

@media only screen and (max-width: 780px) {
  .main-tech {
    gap: 1em;
    height: auto;
  }
  .main-resume {
    gap: 1em;
    justify-content: center;
    height: auto;
  }

  .main-hobbies {
    gap: 2em;
    justify-content: center;
    height: auto;
  }
}

/* for mobile 600px max width  */

@media only screen and (max-width: 600px) {
  .main-blog-card {
    width: 100%;
  }

  .blog-header,
  .blog-follow-title {
    font-size: 5vw !important;
    font-weight: bold !important;
  }

  .main-card {
    width: 150px;
  }
  .card-img {
    height: 115px;
  }
  .arrow-iconBtn2 {
    right: 10%;
  }
  .card-title,
  .card-subtitle,
  .loadshot-text,
  .blog-follow-subtitle {
    font-size: 0.5rem !important;
  }
  .card-footer {
    margin-top: 2px;
    margin-bottom: 5px;
    justify-content: space-around;
  }
  .shots-icon {
    width: 6vw;
    height: 6vw;
  }

  .blog-content-footer a {
    font-size: 1.8vw !important;
  }
  .blog-content-title,
  .blog-content-overview *,
  .blog-footer-date {
    font-size: 2.5vw !important;
  }
  .blog-content-title {
    width: 100%;
  }
  .blog-content-footer {
    align-items: center;
  }
  .blog-follow-icons * {
    font-size: 7vw !important;
  }
}
/* for mobile 600px max width  style ends here   */

/* for mobile 330px max width  */

@media only screen and (max-width: 330px) {
  .main-card {
    width: 132px;
    height: 180px;
    gap: 2.5px;
  }
  .read-more-btn {
    width: -moz-fit-content;
    width: min-content;
    padding: 1% !important;
    margin: 1% !important;
    text-transform: capitalize !important;
    border-radius: 2px !important;
  }
}

@media not all and (min-resolution: 0.001dpcm) {
  @supports (-webkit-appearance: none) {
    .main-project-section > div {
      margin: 1vw;
    }

    .main-blog-card {
      width: inherit;
      height: 155px;
      margin-top: 5px;
      margin-bottom: 5px;
    }
  }
}
