@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
html {
  scroll-behavior: smooth;
}
* {
  font-family: "Poppins", sans-serif !important;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f6f6f6;
  background: url("../src/assets/images/bg.svg") no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
